footer {
    background-color: #4CAF50;
    color: rgb(246, 246, 246);
    padding: 2px;
    text-align: center;
}

.div_gemeo:hover {
    background-color: rgb(220, 220, 220);
    transform: scale(1.05);
}

.div_gemeo2:hover {
    background-color: rgb(220, 220, 220);
    transform: scale(1.05);
}

body {
    font-family: "Roboto", sans-serif;
    background-color: rgb(255, 255, 255);
}

header {
    background-color: #4CAF50;
    text-align: center;
    padding: 0.5%;
    color: rgb(246, 246, 246);
}

.div_pai {
    padding-top: 1%;
    display: flex;
    justify-content: center;
}

.div_esquecidos {
    display: flex;
    justify-content: center;
}

.div_filho_esquecido:hover {
    transform: scale(1.05);
    background-color: rgb(220, 220, 220);
}

.div_filho_esquecido {
    transition: all 0.2s ease;
    background-color: rgb(240, 240, 240);
    width: 80%;
    border-radius: 10px;
    text-align: center;
}

.div_filho {
    background-color: rgb(240, 240, 240);
    width: 80%;
    border-radius: 10px;
    text-align: center;
}

.h2a {
    color: red;
}

.p_inicio {
    font-size: 90%;
    color: rgb(5, 5, 5);
}

.inicio {
    font-size: 95%;
    color: rgb(5, 5, 5);
}

.sigs {
    font-size: 110%;
    color: #4CAF50;
    font-weight: 700;
}

.div_pai2 {
    padding: 1%;
    display: flex;
    justify-content: center;
    gap: 1%;
}

.div_gemeo {
    background-color: rgb(240, 240, 240);
    width: 19.5%;
    transition: all 0.2s ease;
    border-radius: 10px;
    text-align: center;
}

.div_gemeo2 {
    transition: all 0.2s ease;
    display: flex;
    justify-content: center;
    background-color: rgb(240, 240, 240);
    width: 19.5%;
    border-radius: 10px;
    text-align: center;
    align-items: center;
}

form {
    width: 50%;
    padding-bottom: 1%;
}

input {
    width: 100%;
    padding: 1.5%;
    margin-top: 5px;
    margin-bottom: 15px;
}

.submit {
    width: 100%;
    padding: 1.5%;
    background: #4CAF50;
    color: white;
    border-radius: 5px;
    text-align: center;
}

.submit:hover {
    background-color: #3f9042;
}

.texto_cadastrar {
    color: rgb(7, 7, 7);
}

.texto_especial {
    font-size: 95%;
    color: #4CAF50;
}

.botao_padrao {
    width: 100%;
}

button {
    transition: all 0.2s ease;
    border: none;

}

button p {
    font-size: 105%;
}

a {
    text-decoration: none;
}

.p_esquecidos {
    color: rgb(7, 7, 7);
}

.pai_botao {
    padding-top: 1%;
    display: flex;
    justify-content: center;
}

.menu_superior {
    display: flex;
    justify-content: center;
    gap: 1%;
    padding: 0.5%;
}

.info_superior {
    color: rgb(246, 246, 246);
    transition: all 0.2s ease;
    display: flex;
    justify-content: center;
    background-color: #4CAF50;
    width: 19.5%;
    border-radius: 10px;
    text-align: center;
    align-items: center;
    padding: 0.5%;
}