<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="static/style.css">
    <script src='main.js'></script>
</head>
<body>
    <header><h2>IFC - SIGAA - Sistema Integrado de Gestão de Atividades Acadêmicas</h2></header>

    <div class="menu_superior">
        <a href="" class="info_superior">Nome Do Aluno = ANO 2026</a>
        <a href="" class="info_superior">Modulos</a>
        <a href="" class="info_superior">Menu Discente</a>
        <a href="" class="info_superior">Caixa Postal</a>
        <a href="" class="info_superior">Alterar Senha</a>
        <a href="" class="info_superior">Abrir Chamado</a>

    </div>
    
</body>
</html>